*,
*::before,
*::after {
    box-sizing: border-box;
    // outline: 1px solid red;
}

body {
    font-family: "Noto Sans TC", "Roboto", serif;
    line-height: 1.5;
    font-size: 20px;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}
