.category2 {
    &-list {
        a {
            text-align: center;
            color: #000;
            font-size: 32px;
            border: 1px solid #DCDCDC;
            padding: 12px 0;
            width: 33.333%;

            @include pad {
                font-size: 24px;
            }

            @include mobile {
                font-size: 16px;
            }
        }
    }

    &-img-lift {
        background-image: url("/assets/images/product-header-3.png");
        background-size: cover;
        background-position: center;
        height: 296px;
        width: 50%;

        @include pad {
            background-image: url("/assets/images/product-header-sm-3.png");
        }
    }

    &-img-right {
        background-image: url("/assets/images/product-header-4.png");
        background-size: cover;
        background-position: center;
        height: 296px;
        width: 50%;

        @include pad {
            background-image: url("/assets/images/product-header-sm-4.png");
        }
    }
}
.product2 {
    padding: 80px 0;

    &-title {
        h1 {
            font-size: 42px;
            @include mobile{
                font-size: 24px;
            }
        }

        h2 {
            font-size: 32px;
            @include mobile{
                font-size: 24px;
            }
        }
    }

    &-list {
        @include pad{
            margin-bottom: 80px;
        }
        @include mobile{
            margin-bottom: 64px;
        }
        &-content {
            width: calc(33% - 12px);
            margin-bottom: 80px;
            @include pad{
                width: calc(50% - 12px);
                margin-bottom: 40px;
            }
            @include mobile{
                width: 100%;
                margin-bottom: 24px;
            }
        }
    }
}

.price {
    color: #AA0601;
}

.color {
    &-brown {
        width: 24px;
        height: 24px;
        background-color: #5F3E2D;
        border-radius: 4px;
        margin-right: 8px;
    }

    &-orange {
        width: 24px;
        height: 24px;
        background-color: #B75929;
        border-radius: 4px;
    }
}
.page{
    a{
        color: #000;
        padding: 12px 16px;
        border: 1px solid #555555;
        &:hover{
            color: #fff;
            background-color: #000;
        }
    }
}
